*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color: black;
}
.container{
    margin: auto;
    width: 480px;
    height: 100%;
    border-radius:10px;
    display: flex;
    flex-direction: column;
    padding: 5px 5px 100px 5px;
    background-color: rgb(0, 161, 248);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    overflow: hidden;
}
.display{
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 7px;
    font-weight: bold;
    background: linear-gradient(to bottom ,rgb(0, 248, 211) , rgb(21, 0, 255));
    transition: blure;
    border-radius: 10px;
    color: rgb(0, 0, 0);
    height: 100%;
    overflow: auto;
}
form{
    width: 470px;
    border: none;
    padding: 20px 10px;
    background-color: transparent;
    border-radius: 0 0 10px 10px;
    bottom: 0;
    position: fixed;
}
#chat-input{
    font-size: 40px;
    width:320px;
    padding:10px;
    border: none;
    border-radius: 10px;
    
}
#submit-btn{
    font-size: 40px;
    padding: 10px 10px;
    background-color: rgb(0, 255, 128);
    border: none;
    border-radius: 10px;
    font-weight: bold;
    transition: .3s ease;

}
#submit-btn:hover{
    background-color: rgba(0, 255, 128, 0.316);
}
#submit-btn:active{
    background-color: rgb(0, 255, 128);
}
.texts{
    animation : image_blur .3s;
    background-color: white;
    border-radius:10px;
    padding: 10px;
    width: fit-content;
    font-size: 40px;
    word-break: break-word;
}
@keyframes image_blur {
    0% { -webkit-filter: blur(0px);}
    50% { -webkit-filter: blur(5px);}
    100% { -webkit-filter: blur(0px);}
}
